body{
    display:grid;
    grid-template-columns: 1fr 1fr; /* this creates an even two column layout*/
    grid-template-areas: "header header" "maparea sidepanel" /* this creates one row with map panel on the left and sidepanel on the right */

}

#mapArea{
    height:92vh;
    grid-area: maparea;
    
} 
#survey{
    grid-area: sidepanel;    
} 

/* Albert: i made this change here to tag the "header" element
    notice it isn't a div and has no ID or class, so there is no
    "." or "#"  */
header{
    grid-area: header;
}